#header .btn {
    width: 10%;
    height: 50px;
    border: none;
    font-size: 16px;
}

#chart {
    float: right;

}

nav {
    background-color: cyan;
    padding: 15px;
}

#header .btn:hover {
    background-color: #e65100;
}

#header > nav:first-of-type {

}